[user]
	name = Indrek Juhkam
	email = indrek@urgas.eu
	signingkey = F8AE4F16C95B43C9
[alias]
	co = checkout
	st = status
	df = diff --stat -p --no-prefix
	view = log --stat -b -p --no-prefix
	view-reflow = reflog --stat -b -p --no-prefix
	tree = log --graph --oneline --decorate
	fix = commit --amend --no-edit
	sorted-branches = for-each-ref --sort=-committerdate refs/heads/
[format]
[apply]
	whitespace = nowarn
[branch]
	autosetuprebase = remote
	sort = -committerdate
[rebase]
	autoStash = true
	autoSquash = true
	updateRefs = true
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[core]
	editor = nvim
	autocrlf = input
	excludesfile = ~/.gitignore
[diff]
	wordRegex = (, )?[^[:space:],().]+[push]
	default = current
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[pager]
	status = false
[rerere]
	autoupdate = true
	enabled = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[commit]
	verbose = true
	# gpgsign = true
[column]
	ui = auto
[tag]
	sort = version:refname
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
