[user]
  name = Indrek Juhkam
  email = indrek@urgas.eu
[alias]
  co = checkout
  st = status
  df = diff --stat -p --no-prefix
  view = log --stat -b -p --no-prefix
  tree = log --graph --oneline --decorate
  fix = commit --amend --no-edit
  fixc = "!f() { TARGET=$(git rev-parse "$1"); git commit --fixup=$TARGET ${@:2} && EDITOR=true git rebase -i --autostash --autosquash $TARGET^; }; f"
  fixup = commit --fixup=@
  sorted-branches = for-each-ref --sort=-committerdate refs/heads/
[format]
[apply]
  whitespace = nowarn
[branch]
  autosetuprebase = remote
[rebase]
  autoStash = true
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[core]
  editor = nvim
	autocrlf = input
	excludesfile = /Users/indrek/.gitignore
[diff]
  wordRegex = (, )?[^[:space:],().]+[push]
  default = current
  algorithm = patience
[pager]
  status = false
[rerere]
  autoupdate = true
  enabled = true
[push]
  default = current
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
