[user]
  name = Indrek Juhkam
  email = indrek@urgas.eu
[alias]
  co = checkout
  st = status
  df = diff --stat -p --no-prefix
  view = log --stat -b -p --no-prefix
  tree = log --graph --oneline --decorate
  ra = log --graph --abbrev-commit --date=relative --all
  mine = "!git log --author='Indrek Juhkam' --format='%h %ad %s'"
  mine-by-day = "!git-mine-by-day"
  untracked = ls-files --others --exclude-standard
  edit-modified = "!f() { git ls-files --modified --exclude-standard | sort -u ; }; vim `f`"
[format]
[apply]
  whitespace = nowarn
[branch]
  autosetuprebase = remote
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
[core]
  editor = vim
	autocrlf = input
	excludesfile = /home/innu/.gitignore_global
[diff]
  wordRegex = (, )?[^[:space:],().]+[push]
  default = current
[pager]
  status = false
[rerere]
  autoupdate = true
  enabled = true
[push]
  default = tracking
